.Card{
    width: 100%;
    position: relative;
    max-width: 350px;
    height: 150px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    overflow: hidden!important;
    cursor: pointer!important;
    box-shadow: 1px 2px 3px 3px rgba(0, 0, 0, 0.075);
    background-color: rgba(255, 255, 255, 0.1);  
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
    padding: 15px;
    color:white;
    transition: all 0.1s;
    display: flex;
    align-items: center;
    justify-self: center;
}

    .Card > div{
        width: 100%;
    }

    .Card::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;bottom: 0;right: 0;left:0;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        z-index: -1;
    }

    .Card:hover{
        transform: translateY(-2px);
        box-shadow: 1px 2px 7px 5px rgba(0, 0, 0, 0.06);
        -webkit-filter: none !important; 
        filter: none !important;
        transition: all 0.1s;
    }

    .Card:hover span:first-child{
        top: 14px;
        transition: all 0.4s;
    }

    .Card:active{
        transform: translateY(1px);
        box-shadow: 1px 2px 3px 3px rgba(0, 0, 0, 0.075);
        -webkit-filter: none !important; 
        filter: none !important;
        transition: all 0.05s;
    }

    
    .Card *{
        cursor: pointer!important;
    }

    .Card span:first-child{
        border-radius: 50%;
        height: 30px;
        width: 30px;
        top: 15px;
        left: 40px;
        filter: blur(6px);
        opacity: 0.3;
        position: absolute;
        background-color: var(--white);
        transition: all 0.4s;
    } 

    .Card span:nth-child(2){
        border-radius: 50%;
        height: 10px;
        width: 10px;
        right: 40px;
        bottom: 30px;
        filter: blur(2px);
        opacity: 0.4;
        position: absolute;
        background-color: var(--white);
        transition: all 0.2s;
    }

    .Card img{
        position: absolute;
        top: -20px;
        left: -40px;
        width: 500px;
        height: auto;
        z-index: -2;
    }

    .Card h4{
        text-align: center;
    }

    .Card p{    
        height: auto;
        max-height: 90px;
        overflow: hidden;
        margin-top: 5px!important;
        font-size: 11pt;
        z-index: 10;
    }

#card_holder{
    display: grid;
    padding-top: 20px!important;
    grid-column-gap: 4%;
    grid-row-gap: 30px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin: auto!important;
    justify-content: space-evenly;
    width: 100%;
}


/* transition */
.Fade-enter {
    opacity: 0.01;
  }
  
  .Fade-enter.Fade-enter-active {
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
  
  .Fade-leave {
    opacity: 1;
  }
  
  .Fade-leave.Fade-leave-active {
    opacity: 0.01;
    transition: opacity 0.2s ease-out;
  }