@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
  --primary-color : red;
  --darker-primary : darkred;
  --secondary-color : blue;
  --darker-secondary : darkblue;
  --white : white;
  --lightgray : rgb(225 225 225);
}

*, html {
  margin: 0 !important;
}

html, body{
  width: 100%;
  min-height: 100%!important;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, span, select, div, footer, header, section, nav{
  cursor: default;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(196 198 203);
}

nav > *, footer > *, section{
  max-width: 1400px!important;
  width: 100%;
  margin: auto!important;
  padding: 0 30px;
}

/* Fallback for btn, select... */
button{
  color: var(--white);
  width: 100%;
  max-width: 250px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  font-size: 14pt;
  background-color: var(--primary-color);
}

  button:hover{
    background-color: var(--darker-primary);
  }

input{
  width: 100%;
  max-width: 350px;
  border: 1px solid var(--lightgray);
  height: 35px;
  border-radius: 3px;
  padding: 0 15px;
}