#detail_view{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    top:0;left: 0;right: 0;bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

    #detail_view span{
        color: red;
        float: right;
        right: 30px;
        top: 20px;
        cursor: pointer;
        text-align: right;
    }

        #detail_view span:hover{
            color: darkred;
        }


    #detail_view > div{
        color: black;
        background-color: white;
        border-radius: 10px;
        padding: 20px 30px;
        width: 100%;
        max-width: 1200px;
        height: 600px;
    }

    #detail_view p{
        width: 100%;
        max-width: 1000px;
        margin: auto!important;
        margin-top: 10px!important;
    }

    #detail_view h1{
        text-align: center;
        margin-top: 20px!important;
        font-size: 40pt;
    }
