footer{
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    font-size: 11pt;
    align-items: center;
    color: var(--white);
}